@import '@nativescript/theme/core';
@import '@nativescript/theme/default';


/* Styles */
.login-container {
  padding: 20px;
  text-align: center;
}

.logo {
  margin-top: 40px;
  height: 400px;
  width: 400px;
  align-self: center;
  margin-bottom: 40px;
}

.login-title {
  font-size: 24px;
  font-weight: bold;
  color: #1f1f44; /* Couleur foncée */
  margin-top: 20px;
}

.subtitle {
  font-size: 14px;
  color: #808080; /* Gris */
  margin-bottom: 10px;
}
.input-field {
  margin-top: 20px;
  padding: 15px; /* Ajout de padding pour l'espace intérieur */
  background-color: #f8f8f8; /* Fond clair */
  font-size: 14px; /* Ajuster la taille de la police */
  border-color :#808080;
  text-align: left;

}


.forgot-password {
  font-size: 12px;
  color: #808080; /* Gris */
  text-align: right;
  margin-top: 5px;
}

.login-button {
  background-color: #1f1f44; /* Bleu foncé */
  color: white;
  font-size: 18px;
  font-weight: bold;
  margin-top: 20px;
  padding: 15px;
  border-radius: 5px;
}

.register-text {
  font-size: 14px;
  color: #808080; /* Gris */
  margin-top: 20px;
}

.register-link {
  font-size: 14px;
  color: #1f1f44; /* Bleu foncé */
  font-weight: bold;
  margin-top: 5px;
}

