// // Variables de couleurs
// $primary-color: #20224a;
// $light-color: #fff;
// $bleu-color: rgba(28, 29, 83, 1);
//
// $input-bg: #f7f7f7;
// $input-border: #eaeaea;
// $red-color: #ff0000;
// $gray-color: #999;
//
// .container {
//     padding: 20px;
//     border-radius: 8px;
//     box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
//     background-color: #ffffff;
//     text-align:center;
//     font-family: 'Arial', sans-serif;
// }
//
// .title {
//     font-family: Outfit;
//     font-size: 35px;
//     font-weight: 700;
//     line-height: 44.1px;
//     text-align: left;
//     color:#1C1D53;
//     margin-top:68px;
//     margin-left:40px;
// }
//
// .description {
//     font-family: Outfit;
//     font-size: 11px;
//     font-weight: 400;
//     line-height: 25.2px;
//     text-align: left;
//     margin-bottom:122px;
//     margin-left:40px;
//     color:#1C1D53;
//
// }
//
//
// /* Styles */
// .login-container {
//   padding: 20px;
//   text-align: center;
// }
//
// .logo {
//   margin-top: 40px;
//   height: 400px;
//   width: 400px;
//   align-self: center;
//   margin-bottom: 40px;
// }
// .text-field-container {
//     margin: 10px 0;
//     border-width: 1px;
//     border-color: #8E8383;
//     border-radius: 5px;
//     border: 0.6px solid #8E8383;
//     padding: 10px;
//     background-color: #f9f9f9;
//     text-align:left;
//     font-family: Outfit;
//     font-size: 16px;
//     font-weight: 400;
//     line-height: 20.16px;
//     width:342;
//     margin-bottom:30px;
//
// }
// TextField {
//     border-width: 0;
//     border-bottom-width: 0; /* Pour Android */
//     background-color: transparent;
//     box-shadow: none; /* Supprimer tout effet d'ombre */
// }
// .login-title {
//   font-size: 23px;
//   font-weight: bold;
//   color: #1f1f44; /* Couleur foncée */
//   margin-top: 20px;
// }
//
// .create-button {
//     width: 250;
//     padding: 10px;
//     color: #ffffff;
//     background-color: #1C1D53;
//     font-size: 16px;
//     font-weight: bold;
//     margin-top:61;
//     height:60;
//     font-family: Outfit;
// }
// .create-button-container{
//     border: 0.6px solid #8E8383;
//     border-radius: 5px 0px 0px 0px;
//     }
//
// .subtitle {
//   font-size: 14px;
//   color: #808080; /* Gris */
//   margin-bottom: 10px;
// }
// .input-field {
//   margin-top: 20px;
//   padding: 15px; /* Ajout de padding pour l'espace intérieur */
//   background-color: #f8f8f8; /* Fond clair */
//   font-size: 14px; /* Ajuster la taille de la police */
//   border-color :#808080;
//   text-align: left;
//
//
// }
// .create-button :hover {
//     background-color: #333388;
// }
//
//
// .footer {
//     margin-top: 20px;
//     font-size: 12px;
// }
//
//
// .footer-link {
//     color: #1C1D53;
//     font-weight: bold;
//     cursor: pointer;
// }
// // css profillllll
//
// .action-bar {
//   background-color: rgba(28, 29, 83, 1);
//   color: #ffffff; /* Le texte sera blanc pour le contraste */
// }
// .page {
//   background-color: transparent;
//   height: 100%;
//   width: 100%;
// }
//
// .background-image {
//   width: 100%;
//   height: 100%;
//   position: absolute;
//   z-index: -1; /* L'image de fond reste derrière le contenu */
// }
//
// .profile-content {
//   height: 100%;
//   z-index: 1;
//   padding: 20px;
// }
//
//
// .user-name-overlay {
//   font-size: 18px;
//   margin-top:60px;
//   font-weight: bold;
//   color: $light-color; /* Blanc pour se démarquer du fond */
//   text-align: center;
// }
//
// .profile-page {
//   height: 100%;
// }
//
//
// .form {
//   margin-top: 600px;
//   height: 100%;
//
//   .form-group {
//     margin-bottom: 15px;
//
//     .label {
//       font-size: 14px;
//       color: darken($input-border, 20%);
//       margin-bottom: 50px;
//     }
//
//     .input {
//       background-color: $input-bg;
//       border-radius: 10px;
//       padding: 10px;
//       border: 1px solid $input-border;
//       font-size: 16px;
//     }
//
//     .textarea {
//       height: 80px;
//     }
//   }
//
//   .save-button {
//     background-color: $bleu-color;
//     //color: $light-color;
//     padding: 15px;
//     border-radius: 25px;
//     width: 50%;
//     font-size: 16px;
//     text-align: center;
//   }
// }
//
// //////fin css profil
//  /////css offres
//
// /* Couleur bleu foncé */
// $blue-fonce: #1A237E;
// $light-color: #fff;
// $red-color: #ff0000;
// $gray-color: #999;
//
// // Styles de l'ActionBar
// .action-bar {
//   background-color: $blue-fonce;
//   color: $light-color;
// }
//
// .page {
//   background-color: $light-color;
//   height: 100%;
//   width: 100%;
// }
//
// .offers-content {
//   padding: 20px;
// }
//
// .title {
//   font-size: 24px;
//   font-weight: bold;
//   color: $blue-fonce;
//   margin-bottom: 20px;
// }
//
// .product-list {
//   margin-top: 10px;
// }
//
// .product-item {
//   margin-bottom: 20px;
// }
//
// .product-image {
//   width: 150px;
//   height: 150px;
//   border-radius: 10px;
//   margin-right: 18px;
// }
//
// .product-name {
//   font-size: 18px;
//   font-weight: bold;
//   color: $blue-fonce;
// }
//
// .product-category {
//   font-size: 14px;
//   color: $gray-color;
//   margin-top: 4px;
// }
//
// .product-pricing {
//   margin-top: 5px;
//   justify-content: space-between;
// }
//
// .original-price {
//   font-size: 16px;
//   text-decoration: line-through;
//   color: $red-color;
//   margin-right: 10px;
// }
//
// .current-price {
//   font-size: 16px;
//   font-weight: bold;
//   color: $blue-fonce;
// }
//
//  ///fin offres
//
//
//
//
// .forgot-password {
//   font-size: 12px;
//   color: #808080; /* Gris */
//   text-align: right;
//   margin-top: 5px;
// }
//
// .login-button {
//   background-color: #1f1f44; /* Bleu foncé */
//   color:#ffffff;
//   font-size: 18px;
//   font-weight: bold;
//   margin-top: 20px;
//   padding: 15px;
//   border-radius: 5px;
// }
//
// .register-text {
//   font-size: 14px;
//   color: #808080; /* Gris */
//   margin-top: 20px;
// }
// // scrum38
//
//   .save-button {
//     background-color: $primary-color;
//     color: $light-color;
//     padding: 15px;
//     border-radius: 25px;
//     width: 100%;
//     font-size: 16px;
//     text-align: center;
//   }
//
//
// .register-link {
//   font-size: 14px;
//   color: #1f1f44;
//   font-weight: bold;
//   margin-top: 5px;
// }
//
// //barre pour la page rechercher
// .search-bar {
//     margin: 10;
//     border-radius: 0.6px;
//     border-color:#8E8383;
//     height: 40;
//     width: 250;
//     border: solid;
// }
// .search-bar-container{
//     border: 0.6px solid #8E8383;
//     }
// //button pour page rechercher
// .search-button {
//     color: #ffffff;
//     background-color: #1C1D53;
//     border-radius: 20px;
//     height: 40;
//     margin-top: 10;
//     width: 125;
// }
// .search-button:hover {
//     background-color: #1C1D53;
// }
// //codde pour la barre des items
// .custom-tabview {
//     background-color: #ffffff;
//     border-top-width: 1;
//     border-top-color: #cccccc;
//     height: 60;
// }
// .small-title .tab-title {
//     font-size: 5px; /* Ajustez la taille selon vos besoins */
//     margin: 0; /* Réduisez les marges pour plus d'espace */
//     width:60px;
// }
//
// .custom-tabview .tab-view-item {
//     flex: 1;
//     text-align: center;
//     width:60;
//
// }
// TabViewItem {
//     width: 120;
//     text-align: center;
// }
//
// .custom-tabview .tab-view-item .tab-view-item-icon {
//     width: 24;
//     height: 24;
//     margin-bottom: 5;
// }
//
// .pdetails-titre {
//     font-family: Inter;
//     font-size: 25px;
//     font-weight: 500;
//     line-height: 24.2px;
//     text-align: left;
//     margin-left: 30px;
//     color: #000000;
//     margin: 32px 0; /* Ajoute plus d'espace sous l'image */
// }
//
// .product-image {
//   width: 100%;
//   height: auto;
//   border-radius: 10px;
//   margin-bottom: 30px; /* Réduction de l'espacement entre l'image et le titre */
// }
//
// .pdetails-description {
//   font-size: 14px;
//   text-align: left;
//   margin: 0 16px 24px 16px; /* Ajoute de l'espace au-dessus et au-dessous de la description */
// }
//
// .counter-container {
//   margin: 24px 0; /* Espacement autour du compteur */
//   display: flex;
//   justify-content: flex-end; /* Aligne à droite */
//   align-items: center; /* Assure que les éléments sont bien alignés verticalement */
// }
//
// .btn-counter {
//   font-size: 14px;
//   color: white; /* Texte blanc */
//   background-color: #1a1a6a; /* Même couleur que "Ajouter au panier" */
//   border-radius: 5px;
//   padding: 5px; /* Taille de padding réduite */
//   width: 80px;
//   height: 80px;
//   text-align: center; /* Centrer le texte */
//   margin-left: 10px; /* Ajoute de l'espace entre les boutons */
// }
//
// .counter-display {
//   font-size: 20px;
//   margin: 0 16px;
//   text-align: center;
// }
//
// .button-container {
//   margin: 24px 0; /* Ajoute de l'espace autour des boutons */
//   padding: 16px;
// }
//
// .pdetail-ajouter {
//   background-color: #1a1a6a;
//   color: #ffffff;
//   border-radius: 8px;
//   font-size: 14px; /* Taille du bouton réduite */
//   font-weight: bold;
//   text-align: center;
//   padding: 8px; /* Taille de padding réduite pour ajuster le bouton */
//   width: 60%; /* Réduit la largeur du bouton */
//   margin-left: auto;
//   margin-right: auto;
//   display: inline-block;
// }
//
// .icon-heart {
//   margin-left: 10px; /* Rapproche le cœur du bouton "Ajouter au panier" */
//   vertical-align: middle;
// }
//
// .pdetail-ajouter-wrapper {
//   display: flex;
//   justify-content: center;
//   align-items: center;
// }
// //enlever le trait de la barre de logo
// .custom-tabview {
//   border-width: 0;
//   separator-color: transparent;
// }
//
//
// =======
// //ADDlivraison
//
// .titre {
//     font-size: 28px;
//     color: #F8F8F8;
//     font-weight: bold;
//     margin-top: 20;
//     margin-bottom:200px;
//     text-align:center;
//
// }
//
// .champ-texte-conteneur {
//   padding: 15px; /* Ajout de padding pour l'espace intérieur */
//   background-color: #f8f8f8; /* Fond clair */
//   font-size: 20px; /* Ajuster la taille de la police */
//   text-align: left;
//   margin-bottom: 15;
//   width:342;
//   border-radius: 8px; /* Coins arrondis */
//   border: 1.5px solid #8E8383;
// }
//
// .lien-pied-de-page {
//     font-size: 12px;
//     color: #1C1D53;
//     text-decoration: none;
//     cursor: pointer;
// }
// .ajouterAdresse{
//     width: 300;
//     padding: 10px;
//     color: #E95322;
//     background-color: #FFDECF;
//     border-radius: 100px;
//     font-size: 16px;
//     font-weight: bold;
//     margin-top: 40;
//     }
// .ajouterAdresse:hover {
//     background-color: #FFDECF;
// }
// //button page livraison
// .b-adress{
//     width: 300;
//     padding: 10px;
//     color: #E95322;
//     background-color: #FFDECF;
//     border-radius: 100px;
//     font-size: 16px;
//     font-weight: bold;
//     margin-top: 60;
//     }
// .b-adress:hover {
//     background-color: #FFDECF;
// }
// //background adresse livraison
// .backgr-livraison{
//     background-color:#1C1D53;
//     }
//     //titre
// .titre-pLivraison {
//     font-size: 28px;
//     color: #F8F8F8;
//     font-weight: bold;
//     margin-top: 248px;
//     text-align:center;
//
// }
// //button retour
// .boutton-retour{
//     color:#E95322;
//     font-size:28px;
//     top: 2px;
//      left: 3px;
//    }
//

//---------------------------------------------------------------------------------
// Variables de couleurs
// $primary-color: #20224a;
// $light-color: #fff;
// $bleu-color: rgba(28, 29, 83, 1);
// $input-bg: #f7f7f7;
// $input-border: #eaeaea;
// $red-color: #ff0000;
// $gray-color: #999;
// $blue-fonce: #1A237E;
//
// .container {
//   padding: 20px;
//   border-radius: 8px;
//   box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
//   background-color: #ffffff;
//   text-align: center;
//   font-family: 'Arial', sans-serif;
// }
//
// .title {
//   font-family: Outfit;
//   font-size: 35px;
//   font-weight: 700;
//   line-height: 44.1px;
//   text-align: left;
//   color: #1C1D53;
//   margin-top: 68px;
//   margin-left: 40px;
// }
//
// .description {
//   font-family: Outfit;
//   font-size: 11px;
//   font-weight: 400;
//   line-height: 25.2px;
//   text-align: left;
//   margin-bottom: 122px;
//   margin-left: 40px;
//   color: #1C1D53;
// }
//
// .login-container {
//   padding: 20px;
//   text-align: center;
// }
//
// .logo {
//   margin-top: 40px;
//   height: 400px;
//   width: 400px;
//   align-self: center;
//   margin-bottom: 40px;
// }
//
// .text-field-container {
//   margin: 10px 0;
//   border: 0.6px solid #8E8383;
//   border-radius: 5px;
//   padding: 10px;
//   background-color: #f9f9f9;
//   text-align: left;
//   font-family: Outfit;
//   font-size: 16px;
//   font-weight: 400;
//   line-height: 20.16px;
//   width: 342px;
//   margin-bottom: 30px;
// }
//
// TextField {
//   border-width: 0;
//   border-bottom-width: 0;
//   background-color: transparent;
//   box-shadow: none;
// }
//
// .login-title {
//   font-size: 23px;
//   font-weight: bold;
//   color: #1f1f44;
//   margin-top: 20px;
// }
//
// .create-button {
//   width: 250px;
//   padding: 10px;
//   color: #ffffff;
//   background-color: #1C1D53;
//   font-size: 16px;
//   font-weight: bold;
//   margin-top: 61px;
//   height: 60px;
//   font-family: Outfit;
// }
//
// .create-button-container {
//   border: 0.6px solid #8E8383;
//   border-radius: 5px 0px 0px 0px;
// }
//
// .subtitle {
//   font-size: 14px;
//   color: #808080;
//   margin-bottom: 10px;
// }
//
// .input-field {
//   margin-top: 20px;
//   padding: 15px;
//   background-color: #f8f8f8;
//   font-size: 14px;
//   border-color: #808080;
//   text-align: left;
// }
//
// .create-button:hover {
//   background-color: #333388;
// }
//
// .footer {
//   margin-top: 20px;
//   font-size: 12px;
// }
//
// .footer-link {
//   color: #1C1D53;
//   font-weight: bold;
//   cursor: pointer;
// }
//
// .action-bar {
//   background-color: $bleu-color;
//   color: $light-color;
// }
//
// .page {
//   background-color: transparent;
//   height: 100%;
//   width: 100%;
// }
//
// .background-image {
//   width: 100%;
//   height: 100%;
//   position: absolute;
//   z-index: -1;
// }
//
// .profile-content {
//   height: 100%;
//   z-index: 1;
//   padding: 20px;
// }
//
// .user-name-overlay {
//   font-size: 18px;
//   margin-top: 60px;
//   font-weight: bold;
//   color: $light-color;
//   text-align: center;
// }
//
// .profile-page {
//   height: 100%;
// }
//
// .form {
//   margin-top: 600px;
//   height: 100%;
//
//   .form-group {
//     margin-bottom: 15px;
//
//     .label {
//       font-size: 14px;
//       color: darken($input-border, 20%);
//       margin-bottom: 50px;
//     }
//
//     .input {
//       background-color: $input-bg;
//       border-radius: 10px;
//       padding: 10px;
//       border: 1px solid $input-border;
//       font-size: 16px;
//     }
//
//     .textarea {
//       height: 80px;
//     }
//   }
//
//   .save-button {
//     background-color: $bleu-color;
//     padding: 15px;
//     border-radius: 25px;
//     width: 50%;
//     font-size: 16px;
//     text-align: center;
//   }
// }
//
// .action-bar {
//   background-color: $blue-fonce;
//   color: $light-color;
// }
//
// .offers-content {
//   padding: 20px;
// }
//
// .product-list {
//   margin-top: 10px;
// }
//
// .product-item {
//   margin-bottom: 20px;
// }
//
// .product-image {
//   width: 150px;
//   height: 150px;
//   border-radius: 10px;
//   margin-right: 18px;
// }
//
// .product-name {
//   font-size: 18px;
//   font-weight: bold;
//   color: $blue-fonce;
// }
//
// .product-category {
//   font-size: 14px;
//   color: $gray-color;
//   margin-top: 4px;
// }
//
// .product-pricing {
//   margin-top: 5px;
//   justify-content: space-between;
// }
//
// .original-price {
//   font-size: 16px;
//   text-decoration: line-through;
//   color: $red-color;
//   margin-right: 10px;
// }
//
// .current-price {
//   font-size: 16px;
//   font-weight: bold;
//   color: $blue-fonce;
// }
//
// .forgot-password {
//   font-size: 12px;
//   color: #808080;
//   text-align: right;
//   margin-top: 5px;
// }
//
// .login-button {
//   background-color: #1f1f44;
//   color: #ffffff;
//   font-size: 18px;
//   font-weight: bold;
//   margin-top: 20px;
//   padding: 15px;
//   border-radius: 5px;
// }
//
// .register-text {
//   font-size: 14px;
//   color: #808080;
//   margin-top: 20px;
// }
//
// .register-link {
//   font-size: 14px;
//   color: #1f1f44;
//   font-weight: bold;
//   margin-top: 5px;
// }
//
// .search-bar {
//   margin: 10px;
//   border-radius: 0.6px;
//   border-color: #8E8383;
//   height: 40px;
//   width: 250px;
//   border: solid;
// }
//
// .search-bar-container {
//   border: 0.6px solid #8E8383;
// }
//
// .search-button {
//   color: #ffffff;
//   background-color: #1C1D53;
//   border-radius: 20px;
//   height: 40px;
//   margin-top: 10px;
//   width: 125px;
//
//   &:hover {
//     background-color: #1C1D53;
//   }
// }
//
// .custom-tabview {
//   background-color: #ffffff;
//   border-top-width: 1px;
//   border-top-color: #cccccc;
//   height: 60px;
//   border-width: 0;
//   separator-color: transparent;
//
//   .tab-view-item {
//     flex: 1;
//     text-align: center;
//     width: 60px;
//
//     .tab-view-item-icon {
//       width: 24px;
//       height: 24px;
//       margin-bottom: 5px;
//     }
//   }
// }
//
// .small-title .tab-title {
//   font-size: 5px;
//   margin: 0;
//   width: 60px;
// }
//
// TabViewItem {
//   width: 120px;
//   text-align: center;
// }
//
// .pdetails-titre {
//   font-family: Inter;
//   font-size: 25px;
//   font-weight: 500;
//   line-height: 24.2px;
//   text-align: left;
//   margin-left: 30px;
//   color: #000000;
//   margin: 32px 0;
// }
//
// .product-image {
//   width: 100%;
//   height: auto;
//   border-radius: 10px;
//   margin-bottom: 30px;
// }
//
// .pdetails-description {
//   font-size: 14px;
//   text-align: left;
//   margin: 0 16px 24px 16px;
// }
//
// .counter-container {
//   margin: 24px 0;
//   display: flex;
//   justify-content: flex-end;
//   align-items: center;
// }
//
// .btn-counter {
//   font-size: 14px;
//   color: white;
//   background-color: #1a1a6a;
//   border-radius: 5px;
//   padding: 5px;
//   width: 80px;
//   height: 80px;
//   text-align: center;
//   margin-left: 10px;
// }
//
// .counter-display {
//   font-size: 20px;
//   margin: 0 16px;
//   text-align: center;
// }
//
// .button-container {
//   margin: 24px 0;
//   padding: 16px;
// }
//
// .pdetail-ajouter {
//   background-color: #1a1a6a;
//   color: #ffffff;
//   border-radius: 8px;
//   font-size: 14px;
//   font-weight: bold;
//   text-align: center;
//   padding: 8px;
//   width: 60%;
//   margin-left: auto;
//   margin-right: auto;
//   display: inline-block;
// }
//
// .icon-heart {
//   margin-left: 10px;
//   vertical-align: middle;
// }
//
// .pdetail-ajouter-wrapper {
//   display: flex;
//   justify-content: center;
//   align-items: center;
// }
//
// .titre {
//   font-size: 28px;
//   color: #F8F8F8;
//   font-weight: bold;
//   margin-top: 20px;
//   margin-bottom: 200px;
//   text-align: center;
// }
//
// .champ-texte-conteneur {
//   padding: 15px;
//   background-color: #f8f8f8;
//   font-size: 20px;
//   text-align: left;
//   margin-bottom: 15px;
//   width: 342px;
//   border-radius: 8px;
//   border: 1.5px solid #8E8383;
// }
//
// .lien-pied-de-page {
//   font-size: 12px;
//   color: #1C1D53;
//   text-decoration: none;
//   cursor: pointer;
// }
//
// .ajouterAdresse {
//   width: 300px;
//   padding: 10px;
//   color: #E95322;
//   background-color: #FFDECF;
//   border-radius: 100px;
//   font-size: 16px;
//   font-weight: bold;
//   margin-top: 40px;
//
//   &:hover {
//     background-color: #FFDECF;
//   }
// }
//
// .b-adress {
//   width: 300px;
//   padding: 10px;
//   color: #E95322;
//   background-color: #FFDECF;
//   border-radius: 100px;
//   font-size: 16px;
//   font-weight: bold;
//   margin-top: 60px;
//
//   &:hover {
//     background-color: #FFDECF;
//   }
// }
//
// .backgr-livraison {
//   background-color: #1C1D53;
// }
//
// .titre-pLivraison {
//   font-size: 28px;
//   color: #F8F8F8;
//   font-weight: bold;
//   margin-top: 248px;
//   text-align: center;
// }
//
// .boutton-retour {
//   color: #E95322;
//   font-size: 28px;
//   top: 2px;
//   left: 3px;
// }

//---------------------------------------------
$primary-color: #20224a;
$light-color: #fff;
$bleu-color: rgba(28, 29, 83, 1);
$input-bg: #f7f7f7;
$input-border: #eaeaea;
$red-color: #ff0000;
$gray-color: #999;
$blue-fonce: #1A237E;

.page {
    background-color: $light-color;
    height: 100%;
    width: 100%;
    padding: 20px;
}

